<div>
    <header class="p-3 bg-gradient bg-opacity-15 text-light  bg-dark " style="width: 100%;">
        <div class="container">
            <div class=" text-center d-inline">
                <h2> Registration </h2>
            </div>
        </div>
    </header>

    <section class="vh-75 mt-5 bg-light">
        <div class=" h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 mt-5">
                <div class="col-11 col-md-5 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <form [formGroup]="signupForm" (ngSubmit)="userDetails()">
                            <div class="form-group card-body p-5 text-center">
                                <p class="text-danger"> {{errorMessage}} </p>
                                <div class=" mb-4">
                                    <input type="text" id="Fname" class="form-control form-control-lg"
                                        placeholder="First Name " formControlName="firstName" required
                                        (click)="changeFunc();" />
                                </div>

                                <div class=" mb-4">
                                    <input type="text" id="Lname" class="form-control form-control-lg"
                                        placeholder="Last Name " formControlName="lastName" required
                                        (click)="changeFunc();" />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="email" id="mailID" class="form-control form-control-lg"
                                        placeholder="Email " formControlName="mail" required (click)="changeFunc();" />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="passwd" class="form-control form-control-lg"
                                        placeholder="Password" formControlName="passwd" required
                                        (click)="changeFunc();" />
                                </div>
                                <button class="btn btn-dark btn-lg " type="submit"
                                    style="border-radius: 2rem; width: 30%;">Sign Up</button>
                                <hr class="my-4">
                                <div>
                                    <p class="mb-0">Already have an account? </p> <a routerLink="../login"
                                        class="text-black-50 fw-bold">Sign In</a>
                                </div>
                            </div>
                        </form> <!-- form end -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>